{{> head }}    
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Front-End and Back-End</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Inventore provident aut reprehenderit laboriosam assumenda 
            aliquid a dolores nulla magnam vero, ut architecto laborum odit 
            possimus minus mollitia modi similique quod.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/fronback.png" alt="" class="img-thumbnail">
    </div>
</div>
    
{{> footer }}